 <%= render "shared/header"%>
 <div class="main">
  <div class="main_screen">
    <div class="main-header">
      <h2 class="current-group">Let's Start Now!</h2>
    </div>
  </div>
 <div class="center_screen">
 <input class="main-btn" type="submit" value="let's start!">
 </div>
 
  <div class="messages"></div>
   <div class="form">
     <form class="new-message">
       <input class="input-text" placeholder="メンバー、目標、学習仲間を検索する" type="text">
       <input class="submit-btn" type="submit" value="検索">
     </form>
   </div>
</div>