<header class="header">
      <div class="header-bar">
    <span class= "post-list"><%=link_to "投稿ページ", objectives_path %>/<%= link_to "ユーザー一覧", users_index_path %></span>
        <h1 class="title" >Let's Start Now!</h1>
        <div class="header-link">
        </div>
    </div>
    </header>