<header class="header">
      <div class="header-bar">
          <h1 class ="header-title"><%=link_to "Let's Start Now", top_path, class: "title-logo"%></h1>
            <div class="user_nav-grid">
            </div>
           <div class="user_info">
           </div>
      </div>
</header>