<header class="header">
      <div class="header-bar">
          <h1 class ="header-title">Let's Start Now!</h1>
          <div class="user_nav-grid">
           <div class="user_info">
             <%=link_to "トップページに戻る", top_path, class: "post"%>
           </div>
          </div>
      </div>
</header>