<header class="header">
      <div class="header-bar">
      <div class="header-space">
  <%= link_to users_show_path(@user) do%>
 <span><%= image_tag(current_user.image_url) %></span>
 <span><%= current_user.nick_name %></span>
 <% end %>
 </div>
  <h1 class="title" >Let's Start Now!</h1>
        <%=link_to "前ページに戻る", groups_path, class: "post"%>
        </div>
    </header>