<header class="header">
      <div class="header-bar">
        <%=link_to "前ページに戻る", aggregates_path, class: "post"%>
        <h1 class="title" >Let's Start Now!</h1>
        <h1 class="user-config">ユーザー管理</h1>
        </div>
    </header>