 <header class="header">
      <div class="header-bar">
      <h1 class="title">Let's Start Now</h1>
    <div class="header-space">
      <h1>My Page</h1>
    </div>
    <div class="header-user">
      <%= link_to user_path(current_user.id) do%>
        <span><%= image_tag(current_user.image_url) %></span>
        <span><%= current_user.nick_name %></span>
       <% end %>
    </div>
   </div>
 </header>
             