 <header class="header">
  <div class="header-bar">
      <h1 class="title">First of All Sing Up</h1>
          <div class="line-box">
             <div class="line" id="line-box"></div><div class="line" id="line-box"></div><div class="line" id="line-box"></div>
            <div class="list-menu">
            </div>
          </div>
       </div>   
    </header>