<header class="header">
      <div class="header-bar">
 <%=link_to "前ページに戻る", objectives_path, class: "post"%>
 <h1 class="title" >Let's Start Now!</h1>
         <div class="header-link">
        </div>
    </div>
    </header>