<header class="header">
  <div class="header-bar">
       <h1 class="title" ><%= link_to "Let's Start Now!", user_path(current_user.id), class: "title-logo" %></h1>
    <div class="header-space">
    </div>
        <%= link_to users_show_path(@user) do%>
        <span><%= image_tag(current_user.image_url) %></span>
        <span><%= current_user.nick_name %></span>
        <% end %>
   </div>
 </header>