// Place all the styles related to the aggregates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header-bar {
  font-family: monospace;
  margin-bottom: 20px;
  font-size: 30px;
  height: 45px;
  background-color: rgb(180, 223, 240);
  background-size: cover;
  text-align: center;
}
.header-user {
  margin-right: 20px;
}

.main_screen {
  width: 125%;
  height: 100%;
  display: flex;
  .center-screen-a {
    margin-left: 50px;
    padding-top: 30px;
  }
  .center-title {
    margin-top: 25px;
    margin-right: 20px;
    font-size: 32px;
    width: 400px;
    height: 50px;
    background-color: orange;
    border-bottom: solid 6px rgb(22, 21, 21);
  }
  @media screen and(max-width: 800px) {
    .center-title {
      width: 200px;
      height: 50px;
      padding-left: 30px;
    }
  }
  .center-title:active {
    border: none;
    color: red;
  }
  @keyframes listAnimation {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
  }
  .hidden {
    list-style: none;
    display: none;
    height: 80vh;
    width: 400px;
    text-decoration: none;
    background-color: whitesmoke;
    animation: listAnimation 0.5s;
  }
  @media screen and(max-width: 800px) {
    .hidden {
      list-style: none;
      display: none;
      height: 80vh;
      width: 200px;
    }
  }
  li {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
  }
  li:hover {
    color: orange;
    cursor: pointer;
  }
  h1 {
    font-size: 25px;
  }
  .note {
    color: black;
    font-size: 20px;
  }
  .note:hover {
    color: orange;
    cursor: pointer;
  }
  input {
    width: 50px;
  }
  .aggregate-note {
    width: 400px;
    height: 500px;
    position: fixed;
    top: 110px;
    left: 450px;
    display: flex;
    background-color: rgb(248, 233, 205);
    opacity: 0;
    visibility: hidden;
    .aggregate-notelists {
      margin: 10px;
    }
    @media screen and(max-width:800px) {
      .aggregete-note:active {
        width: 200px;
        height: 300px;
        top: 100px;
        left: 0px;
      }
    }

    .aggregate-complet {
      margin: 10px;
    }
    p {
      margin-bottom: 20px;
    }
    h1 {
      margin-bottom: 20px;
    }
    button {
      margin-top: 30px;
      margin-right: 50px;
      width: 80px;
      height: 30px;
      font-size: 15px;
      background-color: orange;
    }
  }
  @keyframes noteAnimation {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
  }
  .aggregate-note.active {
    opacity: 1;
    visibility: visible;
    animation: noteAnimation 2s;
  }
  .list-ifthen {
    position: fixed;
    top: 350px;
    left: 50px;
    text-align: center;
    width: 500px;
    height: 350px;
    background-color: rgb(247, 231, 201);
    opacity: 0;
    visibility: hidden;
    h1 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      margin-bottom: 10px;
    }
    button {
      margin-top: 20px;
      width: 80px;
      height: 30px;
      font-size: 15px;
      background-color: orange;
    }
  }
  @keyframes ifthenAnimation {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
  }
  .list-ifthen.active {
    opacity: 1;
    visibility: visible;
    animation: ifthenAnimation 0.5s;
  }
  .aggregate-box {
    margin-left: 400px;
    padding-top: 60px;
    width: 60%;
    height: 93vh;
  }
  @media screen and(max-width: 800px) {
    .aggregate-box {
      margin-left: 50px;
    }
  }
  .note-animation {
    margin-top: 100px;
  }
  .note-title {
    margin-bottom: 30px;
    opacity: 0;
    h1 {
      border-bottom: orange 2mm ridge;
      margin-top: 30px;
      width: 400px;
    }
    p {
      margin-top: 20px;
      margin-left: 10px;
    }
  }
  .note-info {
    margin-bottom: 30px;
    opacity: 0;
    h1 {
      width: 400px;
      margin-bottom: 20px;
      margin-top: 20px;
      border-bottom: orange 2mm ridge;
    }
    h2 {
      font-size: 25px;
      width: 400px;
      margin-top: 30px;
    }
    p {
      font-size: 15px;
      font-weight: normal;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }
  @keyframes noteAnimation {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
  }
  .note-title.show {
    opacity: 1;
    animation: noteAnimation 1s;
  }
  .note-info.show {
    opacity: 1;
    animation: noteAnimation 1s;
  }
  .post-title {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
  }
  .company-name,
  .selection-form,
  .explan-list,
  .help-list {
    font-size: 15px;
    font-weight: initial;
  }
  span {
    margin-right: 20px;
  }
  .ability-point {
    animation: blink 1s ease-in-out infinite alternate;
  }
}
.action {
  margin-top: 10px;
  font-size: 30px;
  color: rgb(236, 77, 77);
}

.aggregate-show {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  span {
    margin-right: 20px;
  }
  button {
    margin-bottom: 10px;
  }
}

.aggregate-show-box {
  text-align: center;
  height: auto;
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 10px;
  .detail-table {
    margin: 0 auto;
    font-size: 25px;
  }
  .detail-object {
    padding-right: 20px;
  }
}

.aggregate-title {
  font-size: 25px;
}
.supple {
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.aggregate-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: orange;
  border-bottom: solid 6px rgb(75, 73, 73);
}
.aggregate-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.aggregate-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  color: red;
  border-bottom: none;
}

.aggregate-contents {
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  background-color: rgb(248, 230, 196);
  .container {
    margin-left: 50px;
    margin-bottom: 40px;
    width: 45%;
    height: 75vh;
    text-align: center;
    .select-area {
      height: 20px;
    }
    .text-field {
      width: 400px;
      height: 200px;
      text-align: center;
      border: double 5px rgb(87, 84, 84);
    }
    .post {
      text-align: center;
    }

    .field,
    .select-box {
      margin-top: 20px;
    }

    .text {
      text-align: center;
      margin-top: 10px;
      height: 100px;
      width: 400px;
    }
    @media screen and(max-width:800px) {
      .text {
        width: 250px;
        height: 100px;
      }
    }

    .post {
      font-size: 15px;
      height: 40px;
      width: 400px;
      margin-top: 15px;
    }
    @media screen and(max-width: 800px) {
      .post {
        width: 200px;
        height: 40px;
      }
    }
    .select-box {
      text-align: center;
      width: 250px;
      height: 20px;
      margin-bottom: 20px;
    }
    .average {
      width: 30px;
      height: 20px;
    }

    h1 {
      margin-left: 60px;
      margin-right: 60px;
      padding-top: 20px;
      margin-bottom: 40px;
      font-size: 40px;
      color: rgb(10, 10, 10);
    }
    @media screen and(max-width: 800px) {
      h1 {
        font-size: 28px;
      }
    }
    h2,
    h3 {
      font-weight: 100;
      font-size: 18px;
      margin-top: 10px;
    }
  }
  .content-text {
    width: 45%;
    height: 93vh;
    margin-left: 20px;
    p {
      margin-top: 20px;
      font-size: 20px;
    }
    h4 {
      font-size: 100px;
      margin: 80px 20px;
    }
    .contents-image {
      margin-top: 10px;
      .aggregate-image {
        width: 500px;
        height: 300px;
        padding-top: 80px;
      }
      @media screen and(max-width:800px) {
        p {
          font-size: 12px;
        }
        .aggregate-image {
          width: 280px;
          height: 200px;
        }
      }
    }
    .aggregate-image.active {
      background-image: url("3411592_s.jpg");
      border-radius: 10px;
      width: 500px;
      height: 300px;
    }
  }
  .aggregate-screen {
    width: 500px;
    height: 400px;
    opacity: 0;
    visibility: hidden;
  }
  @keyframes aggregateAnimation {
    0% {
      opacity: 0;
      background-color: gold;
    }
    10% {
      opacity: 1;
      background-image: image-url("2143197_s.jpg");
    }
    50% {
      background-image: image-url("3711963_s.jpg");
      opacity: 1;
    }
  }
  .aggregate-screen.action {
    opacity: 1;
    visibility: visible;
    animation: aggregateAnimation 3s infinite;
    animation-duration: alternate;
  }
}

.aggregate-edit {
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  .edit-contents {
    margin-left: 50px;
    margin-bottom: 40px;
    width: 45%;
    height: 75vh;
    text-align: center;
    .field,
    .select-box {
      margin-top: 20px;
    }
    .average {
      width: 30px;
      height: 20px;
    }

    h1 {
      margin-left: 60px;
      margin-right: 60px;
      padding-top: 20px;
      margin-bottom: 40px;
      font-size: 40px;
      color: rgb(10, 10, 10);
    }
    @media screen and(max-width: 800px) {
      h1 {
        font-size: 28px;
      }
    }
    h2,
    h3 {
      font-size: 18px;
      margin: 10px;
    }
  }
  .content-text {
    width: 50%;
    height: 93vh;
    p {
      margin-top: 20px;
      font-size: 20px;
    }
    h4 {
      font-size: 80px;
      margin: 20px 0px;
    }
    @media screen and(max-width: 800px) {
      h4 {
        margin-left: 40px;
        font-size: 40px;
      }
      h6 {
        font-size: 30px;
        padding-right: 20px;
        margin-top: 10px;
        margin-right: 300px;
      }
    }
    .contents-image {
      margin-top: 10px;
      .aggregate-image {
        width: 500px;
        height: 300px;
        padding-top: 80px;
      }
      @media screen and(max-width:800px) {
        p {
          font-size: 12px;
        }
        .aggregate-image {
          width: 280px;
          height: 200px;
        }
      }
    }
    .aggregate-image.active {
      background-image: url("3411592_s.jpg");
      border-radius: 10px;
      width: 500px;
      height: 300px;
    }
  }
  .aggregate-screen {
    width: 500px;
    height: 400px;
    margin-left: 100px;
    opacity: 0;
    visibility: hidden;
  }
  h6 {
    font-size: 40px;
    margin-top: 50px;
  }
  @keyframes aggregateAnimation {
    0% {
      transform-style: preserve-3d;
      transform: rotateY(-30deg) rotateX(-30deg) rotateZ(10deg);
    }
    50% {
      opacity: 1;
      letter-spacing: 2em;
    }
    100% {
      opacity: 1;
      color: #da8e00;
      background: -webkit-linear-gradient(
        -45deg,
        #f7de05,
        #da8e00,
        #edac06,
        #f7de05,
        #ecb802,
        #daaf08,
        #b67b03,
        #da8e00,
        #edac06,
        #f7de05,
        #ecb802,
        #edac06
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .aggregate-screen.action {
    opacity: 1;
    color: #da8e00;
    background: -webkit-linear-gradient(
      -45deg,
      #f7de05,
      #da8e00,
      #edac06,
      #f7de05,
      #ecb802,
      #daaf08,
      #b67b03,
      #da8e00,
      #edac06,
      #f7de05,
      #ecb802,
      #edac06
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: visible;
    animation: aggregateAnimation 3s;
    animation-duration: alternate;
  }
}
