// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
.group-name,.group-select{
  text-align: center;
  font-size: 30px;
  font-family: serif;
  margin-bottom: 40px;
}

.group-content{
  padding-top: 50px;
  height: 100vh;
  background-color: rgb(180, 244, 248);
  background-size: cover;
}

.group-title{
  padding-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  color: black;
}

.btn--group{
  text-decoration: none;
  margin-left: 20px;
  border: solid 10px rgb(236, 192, 111);
  border-radius: 100vh;
  background-color: rgb(221, 247, 250);
}

