// Place all the styles related to the objectives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{ 
  height: 50px;
  background-color: rgb(248, 248, 130);
  font-size: small;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
 } 
.user_info, .post{
  padding-top: 10px;
  list-style: none;
  text-decoration: none;
}


.center_screen {
  height: 100vh;
  width: 100%;
  background-image:image-url('2226404_l.jpg');
  background-size: cover;
}


.main-header {
  height: 300px;
  width: 100%;
  background-image: image-url('4011543_s.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.object-box{
  margin-top: 10px;
  display: flex;
  text-decoration: none;
}
.center-title{
  font-size:30px;
  padding-top: 10px;
}
.list{
  margin: 20px;
}

.object-lists{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
}
.object-img-content,.object-name{
  text-decoration: none;
  color: #1a1d21;
}

.main_image{
  width: 100%;
}
 

.form {
  background-color: rgb(248, 248, 130);
  height: 100px;
  padding: 20px 40px;
}

.menu {
  display: flex;
}

.new-group {
  margin-right: 5px;
}

.current-group {
  color: rgb(238, 236, 235);
  margin-bottom: 15px;
  font-size: 100px;
}

.new-message {
  display: flex;
}

.input-text {
  font-size: 16px;
  height: 50px;
  width: 50%;
  margin-top: 10px;
  padding: 0 15px;
  color: #8c9b96e3;
  border-style: none;
}

.submit-btn {
  width: 100px;
  height: 50px;
  margin-left: 15px;
  margin-top: 30px;
  background-color: #eeeeee;
  font-size: 15px;
  color: #1a1d21;
  border-radius: 100vh;
  cursor: pointer;
}
.sign-up{
  margin-top: 30px; 
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.contents{
  height: 150vh;
  text-align: center;
  background-color: rgb(222, 245, 248);
  background-size: cover;
}
.text-title{
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(241, 171, 79);
}

h2,h3{
  font-weight: 100;
  font-size: 18px;
  margin-top: 10px;
}

p{
  font-size: 13px;
}

.field,.select-box{
  margin-top: 20px;
}
.field_hobit{
  margin-top: 30px;
}

.text{
  margin-top: 10px;
  width: 250px;
  height: 30px;
}

.post{
  font-size: 15px;
  margin-right: 10px;
}

.select-box{
  width: 250px;
  height: 25px;
}

.object-show-box{
  text-align: center;
  background-image: image-url('1108540_l.jpg') ;
  background-size: cover;
  height: 200vh;
  font-size: 30px;
  padding-top: 20px;
}

.detail-table{
  margin:0 auto;
  font-size: 25px;
  border: solid 1px;
  background-color: rgb(248, 248, 130);
}

.object-display{
  display: flex;
  justify-content: center;
  margin-right: 10px; 
}

.btn-object{
height: 30px;
width: 40px;
color: black;
background-color: rgb(245, 177, 157);
border-radius: 100vh;
text-decoration: none;
margin-top: 20px;
}

.send-btn{
  height: 50px;
  width: 100x;
  background-color: wheat;
  border: solid 1px;
  border-radius:  100vh;
}

.object-display{
margin-top: 50px;
}

.detail-object{
  padding-bottom: 15px;
}
.object-explain-box{
  margin-top: 10px;
}
.aggregate-lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 20px;

}
.aggregate-name{
  background-color: azure;
  margin: 20px;
  border: solid 1px;
}