// Place all the styles related to the objectives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-header{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 25px;
  width: 100%;
  height: 60px;
  h1{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 2px;
  }
  .top-about{
    margin-top: 10px;
  }
  .top-about:hover{
    opacity: 0.6;
  }
  .header-btn{
    height: 50px;
    margin-right: 30px;
    font-size: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 6px rgb(75, 73, 73);
    border-radius: 3px;
  } 
  .header-btn:active{
    -webkit-transform: translateY(4px);
   transform: translateY(4px);
   box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
   color: red;
   border-bottom: none;
  }
}

.top-page{
  width: 100%;
  display: flex;
.top-title{
  text-align: center;
  width: 50%;
  height: 350vh;
  background-color: orange;
}
h1{
  margin-bottom: 100vh;
  padding-top: 200px;
  font-size: 100px;
}

@keyframes titleAnimation {
  0%{
  letter-spacing: 0.3em;
  opacity: 0;
  }
}
h2{
  font-weight: bold;
  font-size: 40px;
  animation: titleAnimation 3s;
}
}

.top-object{
 height: 200px;
 margin-left: 100px;
 width: 50%;
 display: flex;
 flex-direction: column;
 .top-frame{
   margin-top: 30px;
   font-size: 40px;
 }
.top-sapport{
  transition: 5s;
  transform: translateY(30px);
  margin-top: 50px;
  margin-bottom: 100px;
  height: 200px;
  padding: 10px;
  animation: titleAnimation 3S;
}

.top-lists{
  opacity: 0;
  transform: translateY(50px);
  transition: 2s;
  padding: 10px;
  height: 200px;
  margin-top: 300px;
  margin-bottom: 50px;
}
.top-lists.show{
  opacity: 0.8;
  transform: none;
}
  p{
    transform: translateZ(50px);
    margin-bottom: 15px;
    margin-left: 80px;
    color: black;
    font-size: 20px;
  }
  span{
    font-size: 30px;
  }
  h2{
    margin-left: 60px;
  }
  h3{
    font-size: 50px;
  }
  h4{
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 40px;
  }
  .image{
    margin-bottom: 30px;
    margin-left: 60px;
    width: 300px;
    height: 200px;
    opacity: 1.0;
    border-radius: 100vh;
  }
  .main-btn{
    background-color: orange;
    height: 50px;
    margin-right: 5px;
    font-size: 20px;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 6px rgb(75, 73, 73);
    border-radius: 3px;
  } 
  .main-btn:active{
    -webkit-transform: translateY(4px);
   transform: translateY(4px);
   box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
   color: red;
   border-bottom: none;
  }
}

 .top-signup{
  margin-right: 40px;
  span{
  margin-top: 10px;
  font-size: 20px;
  }
  .start-btn{
    font-size: 20px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 6px rgb(75, 73, 73);
    border-radius: 3px;
  }
  .start-btn:active{
    -webkit-transform: translateY(4px);
   transform: translateY(4px);
   box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
   color: red;
   border-bottom: none;
  }
}

  
  h2{
    font-size: 25px;
  }
  h4{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .sign{
    font-size: 20px;
  }
  .sign:hover{
    margin-bottom: 10px;
    padding-bottom: 10px;
   font-size: 40px;
   background-color: white;
  }
 

.top-footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  height: 30px;
  width: 100%;
  border-top: solid 6px rgb(116, 112, 112);
    font-size: 20px;
  }

.line{
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 3px;
.list-menu, a{
  background-color: white;
  width: 200px;
  height: 100px;
  border: solid 1px black;
  list-style: none;
}
.link-box{
font-size: 15px;
padding-top: 10px;
}
}


.header{
  position: fixed;
  width: 100%;
  height: 50px;
}

.header-bar{ 
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  position: relative;
  font-size: small;
  text-decoration: none;
  .title{
    font-family: "Gill Sans",serif;
    font-size: 30px;
    margin-left: 50px;
  }
  .header-title{
    font-family: "Gill Sans",serif; 
    font-size: 30px;
  }
  
.todo-lists,.psy-lists{
  width: 180px;
  font-size: 20px;
  color:rgb(219, 151, 103);
  cursor: pointer;
  transition: all 200ms ease;
  opacity: 0.8;
}
.todo-lists:hover{
  opacity: 1.0;
  font-size: 30px;
}
.hidden{
  display: none;
  list-style: none;
  position: absolute;
  font-family: "Gill Sans", serif;
  width: 240px;
  top: 38px;
  right: 10px;
  font-size: 20px;
  color: #1a1d21;
  background-color: white;
}
.post{
  opacity: 0.6;
  transition: all 200ms 0s ease;
}
.post:hover{
font-size: 20px;
opacity: 1.0;
}
img{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border-radius: 100px;
}
span{
  font-size: 15px;
}
}

.psy-accordion{
  width: 100%;
  height: 350px;
.psy-menu{
  color: rgb(27, 22, 22);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.psy-menu:hover,
.psy-menu:active,
.psy-menu.is-active{
  background-color: white;
}
.psy-list{
  text-align: center;
  border: solid 1px rgb(247, 182, 182);
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-duration:  0.4s;
}
.psy-list.is-open{
  line-height: normal;
  height: auto;
  font-size: 12px;
  background-color: white;
  opacity: 1;
}
}


.user_info, .post{
  list-style: none;
  text-decoration: none;
}


.center_screen{
  text-align: center;
  font-family: monospace;
  height: 100vh;
  width: 100%;
  text-decoration: none;
  background-size: cover;
  .select-title{
    padding-top: 50px;
    font-size: 25px;
  }
  h1{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
span{
  margin-left: 20px;
  font-size: 18px;
}
}

.main-header{ 
  padding-top: 50px;
  height: 40px;
  margin-bottom: 20px;
  background-color: rgb(180, 223, 240);
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-decoration: none;
  transition: all 300ms 1s ease;
  .current-group{
    font-family: monospace;
    font-size: 30px;
    margin-right: 600px;
    margin-bottom: 10px;
  }
a,span{
  font-size: 15px;
  margin-bottom: 10px;
}
a:hover{
  color: red;
}
.center-title{
  margin-bottom: 10px;
  font-size: 15px;
}
.post-btn{
  margin-bottom: 10px;
}
.post-btn:hover{
  font-size: 25px;
}
}

.list{
  padding-left: 20px;
}
.search-screen{
  font-family: monospace;
  height: 120vh;
  width: 100%;
  text-decoration: none;
  .search-contents{
    height: 100vh;
  }
.search-lists{
  float: left;
  margin: 10px;
  font-size: 20px;
  color: #1a1d21;
  text-decoration: none;
}
}

.object-box{
  margin-top: 5px;
  margin-bottom: 300px;
  .object-lists{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   list-style: none;
   flex-direction: row;
   text-decoration: none;
  }
.object-img-content{
  text-decoration: none;
  color: #1a1d21;
}
.object-image{
  margin-top: 20px;
}
.object-image:hover{
border: 10px ridge skyblue ;
opacity: 0.6;
}
}

.main_image{
  width: 100%;
}
 
.menu {
  display: flex;
}

.new-group {
  margin-right: 5px;
}

.input-text{
  font-size: 16px;
  height: 50px;
  width: 50%;
  margin-top: 10px;
  padding: 0 15px;
  color: #8c9b96e3;
  border-style: none;
}

.submit-btn{
  width: 200px;
  height: 50px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: #f1c958;
  font-size: 15px;
  color: #1a1d21;
  border: ridge 10px orange ;
  border-radius: 100vh;
  cursor: pointer;
}
.group-send{
  width: 500px;
  height: 50px;
  text-align: center;
  padding-top: 25px;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(247, 188, 101);
  border-radius: 100vh;
}
.sign-up{
  width: 200px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: orange;
}
.sign-up:active{
  opacity: 0.6;
  
}


.contents{
  padding-top: 50px;
  height: 170vh;
  text-align: center;
  background-size: cover;
}
.text-title{
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(10, 10, 10);
}
h1{
  font-family: monospace ;
  color: rgb(16, 18, 19);
}

h2,h3{
  font-weight: 100;
  font-size: 18px;
  margin-top: 10px;
}

p{
  font-size: 13px;
}

.select-area{
  height: 20px;
}

.field,.select-box{
  font-family: "Gill Sans", serif;
  margin-top: 20px;
}
.field_hobit{
  margin-top: 30px;
}

.text{
  text-align: center;
  margin-top: 10px;
  height: 40px;
  width: 300px;
}

.post{
  font-size: 15px;
  height: 20px;
  width: 200px;
  margin-top: 15px;
}

.select-box{
  width: 250px;
  height: 20px;
}

.object-show-box{
  text-align: center;
  height: 120vh;
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
.detail-table{
  margin: 0 auto;
  font-size: 25px;
}
.detail-object{
  padding-right: 20px;
}
.object-display{
  justify-content: center;
  margin-right: 10px; 
}
}

.users-select{
  font-size: 20px;
  margin-top: 25px;
.users-selection{
}
.users-selection:hover{
  opacity: 0.8;
  background-color: rgb(184, 226, 243);
}
.image{
  width: 30px;
  height: 30px;
  border-radius: 50vh;
}
}

.send-btn{
  margin-bottom: 15px;
  width: 60px;
  height: 30px;
    color: #1a1d21;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    border: 3px solid #57595a;
    border-bottom: 5px solid #57595a;
    border-right: 5px solid #57595a;
    border-left: 5px solid #57595a;
    cursor: pointer;
}
.send-btn:hover{
  margin-top: 5px;
  background-color: rgb(224, 223, 219);
  border: 1px solid whitesmoke;
  opacity: 0.5;
}

.detail-object{
  padding-top: 30px;
}
.detail-value{
  padding-top:  30px;
}
.object-explain-box{
  margin-top: 10px;
}
.search-btn{
  width: 80px;
  vertical-align:middle;
}

.comments{
  font-size: 18px;
  .comments-table{
  width: 600px;
  height: 60px;
  border: double 1px black;
  margin-top: 20px;
  }
  .comment-name{
    padding-top:   15px;
    padding-left: 400px;
  }
  img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 100px;
  }
  .comment-btn{
    font-size: 12px;
    border: solid 1px black;
    background-color: rgb(231, 226, 226);
  }
  .comment-btn:hover{
    color: red;
  }
}

.edit-btn{
  margin-top: 30px; 
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0s,width 1s,height 1s, font-size 1s,transform 3s, 300ms ease;
}
.edit-btn:hover{
opacity: 0.8;
font-size: 30px;
width: 200px;
height: 60px;
background-color: rgb(175, 235, 240);
border: none;
}